:root {
  color-scheme: light;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body {
  margin: 0;
}

main {
  display: grid;
  place-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
